<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/viewBlog.css" />
    <link rel="stylesheet" href="/css/postStyles.css" />
  </head>

  <body>
    <%- include('../partials/nav') %>

    <div id="container">
      <div id="header">
        <h1>
          <%= viewedBlog.title %>
        </h1>

        <% if (!followsBlog && !ownsBlog) { %>
        <button
          hx-post="/blogs/api/follow?blog=<%= viewedBlog.id %>"
          hx-target="#follow-result"
          hx-swap="outerHTML"
        >
          Follow
        </button>
        <div id="follow-result"></div>

        <% } else if (followsBlog) { %>
        <h3>Following!</h3>
        <% } %>

        <% if (ownsBlog) { %>
        <button id="open-create-page">Edit Pages</button>
        <div id="create-page" class="hidden">
          <div id="create-form">
            <form
              id="create-page-form"
              hx-post="/pages/api/update"
              hx-target="#update-result"
              hx-swap="outerHTML"
            >
              <input type="hidden" name="id" value="<%= viewedBlog.id %>" />
              <input
                type="hidden"
                name="blogTitle"
                value="<%= viewedBlog.title %>"
              />
              <label for="title">Title:</label><br />
              <select id="title-select" name="title">
                <% for(let i = 0; i < pages.length; i++) { %>
                <option value="<%= pages[i].title %>:<%= pages[i].id %>">
                  <%= pages[i].title %>
                </option>
                <% } %>
                <option value="_NEW_">NEW</option></select
              ><br />
              <div id="new-title-container">
                <label for="new-title" id="new-title-label">New Title: </label>
                <input type="text" name="new-title" id="new-title" />
              </div>
              <label for="content">Content: </label><br />
              <textarea
                id="content"
                name="content"
                maxlength="8192"
                hx-post="/pages/api/preview"
                hx-trigger="renderPreview"
                hx-target="#preview-result"
                hx-swap="outerHTML"
              ></textarea>
              <button>save</button>
              <button class="hidden" id="delete-button">Delete</button>
            </form>
            <div id="update-result"></div>
          </div>
          <div id="preview-result"></div>
        </div>
        <% } %>

        <div id="index-page"><%-renderedPage -%></div>
      </div>
    </div>

    <script src="/js/view.js"></script>
    <%- include('../partials/footer') %>
  </body>
</html>
